<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="APP_NAME" value="spring-mvc-solomon" />
    <property name="LOG_HOME" value="c:/log/${APP_NAME}" />

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} >>> %msg%n</pattern>
        </encoder>
    </appender>

    <!--每天生成一个日志文件，保存30天的日志文件。 -->
    <appender name="DayFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/logs/%d{yyyy-MM-dd}.log</FileNamePattern> 
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>   
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>   
        </encoder> 
        <!--日志文件最大的大小-->
       <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <MaxFileSize>10MB</MaxFileSize>
       </triggeringPolicy>
    </appender> 

    <!--根logger控制 -->
    <root level="DEBUG">
        <appender-ref ref="DayFile" />
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.solomon" level="DEBUG"/>
    <logger name="org.apache.ibatis" level="DEBUG"/>

</configuration>